<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM.dd hh:mm:ss aa} %p - %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<appender name="FILEAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="append" value="true" />
		<param name="file" value="logs/employees.log" />
		<param name="datePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] %-5p - %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<root>
		<level value="debug" />
		<appender-ref ref="FILEAPPENDER" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>
